<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testshareperference">
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--   在安卓9.0上禁止了明文http访问，usesCleartextTraffic要设置为true，允许明文访问     -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/s"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/s"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".activity.IntroduceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
    </application>

</manifest>